In [1]:
import os 
import glob
import pandas as pd

datadir = "data/physionet.org/mimic-iii-demo/1.4/"

# Read the PATIENTS.csv file
pat_df = pd.read_csv(os.path.join(datadir, 'PATIENTS.csv'), index_col='subject_id')

# Read the ADMISSIONS.csv file
adm_df = pd.read_csv(os.path.join(datadir, 'ADMISSIONS.csv'), index_col='subject_id')

In [2]:
# Merge the PATIENTS and ADMISSIONS dataframes on the SUBJECT_ID column
# merged_df = pd.merge(pat_df[['gender', 'dob']],
#                      adm_df[['admittime', 'diagnosis']],
#                      on='subject_id',
#                      how='inner')
merged_df = pd.merge(pat_df,
                     adm_df,
                     on='subject_id',
                     how='inner')
merged_df

,row_id_x,gender,dob,dod,dod_hosp,dod_ssn,expire_flag,row_id_y,hadm_id,admittime,...,insurance,language,religion,marital_status,ethnicity,edregtime,edouttime,diagnosis,hospital_expire_flag,has_chartevents_data
subject_id,,,,,,,,,,,,,,,,,,,,,
10006,9467,F,2094-03-05 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,2165-08-12 00:00:00,1,12258,142345,2164-10-23 21:09:00,...,Medicare,NaN,CATHOLIC,SEPARATED,BLACK/AFRICAN AMERICAN,2164-10-23 16:43:00,2164-10-23 23:00:00,SEPSIS,0,1
10011,9472,F,2090-06-05 00:00:00,2126-08-28 00:00:00,2126-08-28 00:00:00,NaN,1,12263,105331,2126-08-14 22:32:00,...,Private,NaN,CATHOLIC,SINGLE,UNKNOWN/NOT SPECIFIED,NaN,NaN,HEPATITIS B,1,1
10013,9474,F,2038-09-03 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,2125-10-07 00:00:00,1,12265,165520,2125-10-04 23:36:00,...,Medicare,NaN,CATHOLIC,NaN,UNKNOWN/NOT SPECIFIED,NaN,NaN,SEPSIS,1,1
10017,9478,F,2075-09-21 00:00:00,2152-09-12 00:00:00,NaN,2152-09-12 00:00:00,1,12269,199207,2149-05-26 17:19:00,...,Medicare,NaN,CATHOLIC,DIVORCED,WHITE,2149-05-26 12:08:00,2149-05-26 19:45:00,HUMERAL FRACTURE,0,1
10019,9479,M,2114-06-20 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,2163-05-15 00:00:00,1,12270,177759,2163-05-14 20:43:00,...,Medicare,NaN,CATHOLIC,DIVORCED,WHITE,NaN,NaN,ALCOHOLIC HEPATITIS,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44083,31838,M,2057-11-15 00:00:00,2114-02-20 00:00:00,2114-02-20 00:00:00,2114-02-20 00:00:00,1,41055,198330,2112-05-28 15:45:00,...,Private,ENGL,CATHOLIC,SINGLE,WHITE,2112-05-28 13:16:00,2112-05-28 17:30:00,PERICARDIAL EFFUSION,0,1
44154,31853,M,1878-05-14 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00,1,41070,174245,2178-05-14 20:29:00,...,Medicare,ENGL,PROTESTANT QUAKER,MARRIED,WHITE,2178-05-14 17:37:00,2178-05-14 22:08:00,ALTERED MENTAL STATUS,1,1
44212,31867,F,2078-06-16 00:00:00,2124-01-29 00:00:00,NaN,2124-01-29 00:00:00,1,41087,163189,2123-11-24 14:14:00,...,Medicare,ENGL,UNOBTAINABLE,SINGLE,BLACK/AFRICAN AMERICAN,NaN,NaN,ACUTE RESPIRATORY DISTRESS SYNDROME;ACUTE RENA...,0,1
44222,31870,M,2107-06-27 00:00:00,2182-08-03 00:00:00,2182-08-03 00:00:00,NaN,1,41090,192189,2180-07-19 06:55:00,...,Medicare,ENGL,CATHOLIC,SINGLE,WHITE,2180-07-19 04:50:00,2180-07-19 08:23:00,BRADYCARDIA,0,1
44228,31872,F,2112-10-22 00:00:00,2171-04-14 00:00:00,2171-04-14 00:00:00,NaN,1,41092,103379,2170-12-15 03:14:00,...,Private,ENGL,NOT SPECIFIED,SINGLE,WHITE,2170-12-15 02:22:00,2170-12-15 05:25:00,CHOLANGITIS,0,1

In [3]:
# Glob all csv files
# filenames = glob.glob(os.path.join(datadir, '*.csv'))
filenames = [
    "ADMISSIONS.csv", 
    "CHARTEVENTS.csv",
    "DIAGNOSES_ICD.csv",
    "ICUSTAYS.csv",
    "LABEVENTS.csv",
    "PATIENTS.csv",
    "PROCEDUREEVENTS_MV.csv",
]
# Step 3: Create an empty DataFrame
merged_df = pd.DataFrame(columns=["subject_id"])

# Step 4: Loop through all files in the folder
for filename in filenames:
    # Step 5: Check if the file is a CSV file
    if filename.endswith(".csv"):
        # Step 5: Read the CSV file into a DataFrame
        df = pd.read_csv(os.path.join(datadir, filename)).dropna()
        # Step 6: Check if the dfFrame has a "subject_id" column
        if "subject_id" in df.columns:
            # Step 7: Merge the dfFrame with the existing merged dfFrame on "subject_id"
            merged_df = pd.merge(merged_df, df, on="subject_id", how="outer")
        else:
            # Step 8: If the DataFrame does not have a "subject_id" column, ignore it
            continue

merged_df

/tmp/ipykernel_59558/2561464204.py:20: DtypeWarning: Columns (8,10,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(datadir, filename)).dropna()
/tmp/ipykernel_59558/2561464204.py:24: FutureWarning: Passing 'suffixes' which cause duplicate columns {'hadm_id_x', 'row_id_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = pd.merge(merged_df, df, on="subject_id", how="outer")
/tmp/ipykernel_59558/2561464204.py:24: FutureWarning: Passing 'suffixes' which cause duplicate columns {'row_id_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = pd.merge(merged_df, df, on="subject_id", how="outer")
/tmp/ipykernel_59558/2561464204.py:24: FutureWarning: Passing 'suffixes' which cause duplicate columns {'hadm_id_x'} in the result is deprecated and will raise a MergeError in a future version.
  merged_df = pd.merge(merged_df, df, on="subject_id", how="outer")

,row_id_x,subject_id,hadm_id_x,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,...,ordercategoryname,secondaryordercategoryname,ordercategorydescription,isopenbag,continueinnextdept,cancelreason,statusdescription,comments_editedby,comments_canceledby,comments_date
0,12326.0,10076,198503.0,2107-03-21 21:16:00,2107-03-30 12:00:00,2107-03-30 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12326.0,10076,198503.0,2107-03-21 21:16:00,2107-03-30 12:00:00,2107-03-30 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12326.0,10076,198503.0,2107-03-21 21:16:00,2107-03-30 12:00:00,2107-03-30 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12326.0,10076,198503.0,2107-03-21 21:16:00,2107-03-30 12:00:00,2107-03-30 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12326.0,10076,198503.0,2107-03-21 21:16:00,2107-03-30 12:00:00,2107-03-30 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8599349,NaN,44228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8599350,NaN,44228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8599351,NaN,44228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8599352,NaN,44228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8599353,NaN,44228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
merged_df.to_csv(os.path.join(datadir, "MERGED.csv"))

In [5]:
merged_df = pd.read_csv(os.path.join(datadir, "MERGED.csv"))
merged_df.dropna(subset=['admission_type'], inplace=True)
merged_df

/tmp/ipykernel_59558/580723162.py:1: DtypeWarning: Columns (4,5,6,7,8,9,10,11,12,13,14,15,16,17,37,58,59,60,61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_df = pd.read_csv(os.path.join(datadir, "MERGED.csv"))

,Unnamed: 0,row_id_x,subject_id,hadm_id_x,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,...,ordercategoryname,secondaryordercategoryname,ordercategorydescription,isopenbag,continueinnextdept,cancelreason,statusdescription,comments_editedby,comments_canceledby,comments_date
0,0,12326.0,10076,198503.0,2107-03-21 21:16:00,2107-03-30 12:00:00,2107-03-30 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,12326.0,10076,198503.0,2107-03-21 21:16:00,2107-03-30 12:00:00,2107-03-30 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,12326.0,10076,198503.0,2107-03-21 21:16:00,2107-03-30 12:00:00,2107-03-30 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,12326.0,10076,198503.0,2107-03-21 21:16:00,2107-03-30 12:00:00,2107-03-30 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,12326.0,10076,198503.0,2107-03-21 21:16:00,2107-03-30 12:00:00,2107-03-30 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216061,216061,41070.0,44154,174245.0,2178-05-14 20:29:00,2178-05-15 09:45:00,2178-05-15 09:45:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216062,216062,41070.0,44154,174245.0,2178-05-14 20:29:00,2178-05-15 09:45:00,2178-05-15 09:45:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216063,216063,41070.0,44154,174245.0,2178-05-14 20:29:00,2178-05-15 09:45:00,2178-05-15 09:45:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216064,216064,41070.0,44154,174245.0,2178-05-14 20:29:00,2178-05-15 09:45:00,2178-05-15 09:45:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216065,216065,41070.0,44154,174245.0,2178-05-14 20:29:00,2178-05-15 09:45:00,2178-05-15 09:45:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
merged_df.columns

Index(['Unnamed: 0', 'row_id_x', 'subject_id', 'hadm_id_x', 'admittime',
       'dischtime', 'deathtime', 'admission_type', 'admission_location',
       'discharge_location', 'insurance', 'language', 'religion',
       'marital_status', 'ethnicity', 'edregtime', 'edouttime', 'diagnosis',
       'hospital_expire_flag', 'has_chartevents_data', 'row_id_y', 'hadm_id_y',
       'icustay_id_x', 'itemid_x', 'charttime_x', 'storetime_x', 'cgid_x',
       'value_x', 'valuenum_x', 'valueuom_x', 'warning', 'error',
       'resultstatus', 'stopped', 'row_id_x.1', 'hadm_id_x.1', 'seq_num',
       'icd9_code', 'row_id_y.1', 'hadm_id_y.1', 'icustay_id_y', 'dbsource',
       'first_careunit', 'last_careunit', 'first_wardid', 'last_wardid',
       'intime', 'outtime', 'los', 'row_id_x.2', 'hadm_id_x.2', 'itemid_y',
       'charttime_y', 'value_y', 'valuenum_y', 'valueuom_y', 'flag',
       'row_id_y.2', 'gender', 'dob', 'dod', 'dod_hosp', 'dod_ssn',
       'expire_flag', 'row_id', 'hadm_id_y.2', 'icustay_id', 'starttime',
       'endtime', 'itemid', 'value', 'valueuom', 'location',
       'locationcategory', 'storetime_y', 'cgid_y', 'orderid', 'linkorderid',
       'ordercategoryname', 'secondaryordercategoryname',
       'ordercategorydescription', 'isopenbag', 'continueinnextdept',
       'cancelreason', 'statusdescription', 'comments_editedby',
       'comments_canceledby', 'comments_date'],
      dtype='object')

In [7]:
selected_columns = [
    'subject_id', 
    'admittime', 
    'dischtime', 
    'deathtime', 
    'admission_type', 
    'admission_location',
    'discharge_location', 
    'insurance', 
    'language', 
    'religion',
    'marital_status', 
    'ethnicity', 
    'edregtime', 
    'edouttime', 
    'diagnosis',
    # 'hospital_expire_flag', 
    # 'has_chartevents_data', 
    # 'row_id_y', 'hadm_id_y', 'icustay_id_x', 'itemid_x', 'charttime_x', 
    # 'storetime_x',  'cgid_x', 'value_x', 'valuenum_x', 'valueuom_x', 
    # 'warning', 
    # 'error',
    # 'resultstatus', 
    # 'stopped', 
    # 'row_id_x.1', 'hadm_id_x.1', 'seq_num',
    'icd9_code', 
    # 'row_id_y.1', 'hadm_id_y.1', 'icustay_id_y', 
    'dbsource',
    # 'first_careunit', 
    # 'last_careunit', 
    # 'first_wardid', 
    # 'last_wardid',
    'intime', 
    'outtime', 
    'los', 
    # 'row_id_x.2', 
    # 'hadm_id_x.2', 
    # 'itemid_y',
    # 'charttime_y', 'value_y', 'valuenum_y', 'valueuom_y', 'flag',
    # 'row_id_y.2', 
    'gender', 'dob', 'dod', 'dod_hosp', 'dod_ssn',
    # 'expire_flag', 'row_id', 'hadm_id_y.2', 
    # 'icustay_id', 'starttime', 'endtime', 'itemid', 'value', 'valueuom', 'location',
    # 'locationcategory', 
    # 'storetime_y', 'cgid_y', 
    # 'orderid', 'linkorderid',
    # 'ordercategoryname', 'secondaryordercategoryname',
    # 'ordercategorydescription', 'isopenbag', 'continueinnextdept',
    # 'cancelreason', 'statusdescription', 'comments_editedby',
    # 'comments_canceledby', 'comments_date'
]

In [8]:
merged_df[selected_columns].to_csv(os.path.join(datadir, "MERGED.csv"))

In [9]:
merged_df = pd.read_csv(os.path.join(datadir, "MERGED.csv"), index_col=0)

In [10]:
merged_df.columns

Index(['subject_id', 'admittime', 'dischtime', 'deathtime', 'admission_type',
       'admission_location', 'discharge_location', 'insurance', 'language',
       'religion', 'marital_status', 'ethnicity', 'edregtime', 'edouttime',
       'diagnosis', 'icd9_code', 'dbsource', 'intime', 'outtime', 'los',
       'gender', 'dob', 'dod', 'dod_hosp', 'dod_ssn'],
      dtype='object')

In [11]:
merged_df

,subject_id,admittime,dischtime,deathtime,admission_type,admission_location,discharge_location,insurance,language,religion,...,icd9_code,dbsource,intime,outtime,los,gender,dob,dod,dod_hosp,dod_ssn
0,10076,2107-03-21 21:16:00,2107-03-30 12:00:00,2107-03-30 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,MAND,NOT SPECIFIED,...,486,carevue,2107-03-24 04:06:14,2107-03-31 06:55:09,7.1173,M,2038-05-10 00:00:00,2107-03-30 00:00:00,2107-03-30 00:00:00,2107-03-30 00:00:00
1,10076,2107-03-21 21:16:00,2107-03-30 12:00:00,2107-03-30 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,MAND,NOT SPECIFIED,...,486,carevue,2107-03-24 04:06:14,2107-03-31 06:55:09,7.1173,M,2038-05-10 00:00:00,2107-03-30 00:00:00,2107-03-30 00:00:00,2107-03-30 00:00:00
2,10076,2107-03-21 21:16:00,2107-03-30 12:00:00,2107-03-30 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,MAND,NOT SPECIFIED,...,486,carevue,2107-03-24 04:06:14,2107-03-31 06:55:09,7.1173,M,2038-05-10 00:00:00,2107-03-30 00:00:00,2107-03-30 00:00:00,2107-03-30 00:00:00
3,10076,2107-03-21 21:16:00,2107-03-30 12:00:00,2107-03-30 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,MAND,NOT SPECIFIED,...,486,carevue,2107-03-24 04:06:14,2107-03-31 06:55:09,7.1173,M,2038-05-10 00:00:00,2107-03-30 00:00:00,2107-03-30 00:00:00,2107-03-30 00:00:00
4,10076,2107-03-21 21:16:00,2107-03-30 12:00:00,2107-03-30 12:00:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,MAND,NOT SPECIFIED,...,486,carevue,2107-03-24 04:06:14,2107-03-31 06:55:09,7.1173,M,2038-05-10 00:00:00,2107-03-30 00:00:00,2107-03-30 00:00:00,2107-03-30 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216061,44154,2178-05-14 20:29:00,2178-05-15 09:45:00,2178-05-15 09:45:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,ENGL,PROTESTANT QUAKER,...,4549,metavision,2178-05-14 20:29:55,2178-05-15 11:31:12,0.6259,M,1878-05-14 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00
216062,44154,2178-05-14 20:29:00,2178-05-15 09:45:00,2178-05-15 09:45:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,ENGL,PROTESTANT QUAKER,...,4549,metavision,2178-05-14 20:29:55,2178-05-15 11:31:12,0.6259,M,1878-05-14 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00
216063,44154,2178-05-14 20:29:00,2178-05-15 09:45:00,2178-05-15 09:45:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,ENGL,PROTESTANT QUAKER,...,4549,metavision,2178-05-14 20:29:55,2178-05-15 11:31:12,0.6259,M,1878-05-14 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00
216064,44154,2178-05-14 20:29:00,2178-05-15 09:45:00,2178-05-15 09:45:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,ENGL,PROTESTANT QUAKER,...,4549,metavision,2178-05-14 20:29:55,2178-05-15 11:31:12,0.6259,M,1878-05-14 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00
216065,44154,2178-05-14 20:29:00,2178-05-15 09:45:00,2178-05-15 09:45:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,ENGL,PROTESTANT QUAKER,...,4549,metavision,2178-05-14 20:29:55,2178-05-15 11:31:12,0.6259,M,1878-05-14 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00,2178-05-15 00:00:00